/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體",'Noto Sans TC', sans-serif;
}
a {
  text-decoration: none;
}

/* 頁面 */ 
.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #D70C18;
}

/* Navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 1240px;
  background-color: #D70C18;
}
.header__navbar span {
  color: #FFFFFF;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0.3em;
}

/* Logo */
.header__logo h1 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
}
/* Logo-img */
.header__logo-img {
  width: auto;
  height: 36px;
  display: block;
}

/* Nav-list */
.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
/* Nav-item */
.header__nav-btn {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.contact-btn {
  display: flex;
  align-items: center;
  padding: 3px 15px;
  border-radius: 5px;
  background-color: #FF8285;
}
.contact-icon {
  margin-right: 8px;
  width: 1em;
  height: 1em;
}