/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體",'Noto Sans TC', sans-serif;
}
a {
  text-decoration: none;
}

/* 頁面 */ 
.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #D70C18;
}

/* Navbar */
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 1240px;
  background-color: #D70C18;
}
.header__navbar span {
  color: #FFFFFF;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0.3em;
}

/* Logo */
.header__logo h1 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
}
/* Logo-img */
.header__logo-img {
  width: auto;
  height: 36px;
  display: block;
}

/* Nav-list */
.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
/* Nav-item */
.header__nav-btn {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.contact-btn {
  display: flex;
  align-items: center;
  padding: 3px 15px;
  border-radius: 5px;
  background-color: #FF8285;
}
.contact-icon {
  margin-right: 8px;
  width: 1em;
  height: 1em;
}

/* Main */
.hero {
  position: relative;
  min-height: 720px;
  background-color: #ffffff;
  overflow: hidden;
}

.hero__logo {
  position: absolute;
  top: 24px;
  left: 120px;
  width: 530px;
  height: auto;
  z-index: 2;
}

.hero__card {
  position: absolute;
  top: 280px;
  left: 110px;
  width: 410px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
  padding: 60px 0 0;
  z-index: 3;
  text-align: center;
}

.hero__card::before {
  content: '';
  display: block;
  position: absolute;
  width: 63px;
  height: 6px;
  background-color: #e86f50;
  margin: auto;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__card p {
  font-size: 31px;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 3px;
  text-align: center;
  color: #4c4c4c;
  margin-bottom: 38px;
}

.hero__button-primary,
.hero__button-secondary {
  display: block;
  width: 170px;
  height: 46px;
  margin: 0 auto 28px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 46px;
}

.hero__button-primary {
  background-color: #ed6e4b;
}

.hero__button-secondary {
  background-color: #f4b145;
}

.hero__quick-actions {
  display: flex;
  border-top: 2px solid #DDCCAF;
  background-color: #FFF5E0;
}

.hero__quick-actions a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1.9px;
  text-align: center;

  flex: 1;
  padding: 20px 8px;
  color: #4c4c4c;
  border-right: 2px solid #DDCCAF;
}
.quick-action-icon {
  margin-right: 8px;
  width: 1em;
  height: 1em;
}

.hero__quick-actions a:last-child {
  border-right: none;
}

.hero__visual {
  position: absolute;
  top: 120px;
  left: 420px;
  width: 760px;
  z-index: 1;
}